<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

      <div class="col-md-6">

        <div class="form">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control form-input" placeholder="Search anything..."  [(ngModel)]="listFilter" >
          <span class="left-pan"><i class="fa fa-microphone"></i></span>
        </div>
        
      </div>
      
    </div>
    
  </div>
<div class="container" *ngFor="let user of filteredUsers ">
    <a [routerLink]="['/profile',user.id]"   > 
    <div class="member-entry" > 
        <a [routerLink]="['/profile',user.id]" class="member-img"  > 
            <img [src]="user.profileImage" class="img-rounded"> 
            <i class="fa fa-forward"></i> 
        </a> 
        <div class="member-details"> 
            <h4> <a [routerLink]="['/profile',user.id]">{{user.firstName +' '+ user.lastName}}</a> </h4> 
            <div class="row info-list"> 
    
            </div> 
        </div> 
    </div>
    </a>
</div>