  <!--Section: News of the day-->
  <div class="row justify-content-center">
  <div style="width: 46rem">
    <div class="border border-left border-right px-3">
      <div class="p-3 border-bottom">
        <h4 class="d-flex align-items-center mb-0">
           How are you  <i class="far fa-xs fa-star ms-auto text-primary"></i>
        </h4>
      </div>
      <div>
        <div class="card shadow-0">
          <div class="card-body border-bottom pb-2">
            <div class="d-flex">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                height="50" alt="Avatar" loading="lazy" />
              <div class="d-flex align-items-center w-100 ps-3">
                <div class="w-100">
                  <input type="text" id="form143" class="form-control form-status border-0 py-1 px-0"
                    placeholder="What's happening" />
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <ul class="list-unstyled d-flex flex-row ps-3 pt-3" style="margin-left: 50px;">
                <li>
                  <a href=""><i class="far fa-image pe-2"></i></a>
                </li>
                <li>
                  <a href=""><i class="fas fa-photo-video px-2"></i></a>
                </li>
                <li>
                  <a href=""><i class="fas fa-chart-bar px-2"></i></a>
                </li>
                <li>
                  <a href=""><i class="far fa-smile px-2"></i></a>
                </li>
                <li>
                  <a href=""><i class="far fa-calendar-check px-2"></i></a>
                </li>
              </ul>
              <div class="d-flex align-items-center">
                <button type="button" class="btn btn-primary btn-rounded">Tweet</button>
              </div>
            </div>
          </div>
        </div>
        <div>

          <div class="d-flex p-3 border-bottom"  *ngFor="let post of posts">
            <img [src]="post.profileImage" class="rounded-circle"
              height="50" alt="Avatar" loading="lazy" />
            <div class="d-flex w-100 ps-3">
              <div>
                <a href="">
                  <h6 class="text-body">
                    {{post.userName}}
                    <span class="small text-muted font-weight-normal">{{post.userName}}</span>
                    <span class="small text-muted font-weight-normal"> • </span>
                    <span class="small text-muted font-weight-normal">2h</span>
                    <span><i class="fas fa-angle-down float-end"></i></span>
                  </h6>
                </a>
                <p style="line-height: 1.2;" *ngIf="post.content.length">
                  {{post.content}}
                </p>

             <!--   <div class="card border mb-3 shadow-0" style="max-width: 540px;"  *ngIf="post.content.length > 0">
                  <div class="row g-0">
                    <div class="col-md-3">
                      <img [src]="post.image" alt="Avatar"
                        class="img-fluid rounded-left" />
                    </div>
                    <div class="col-md-9">
                      <div class="card-body">
                        <p class="card-text" style="line-height: 1;">
                          Title of the news
                        </p>
                        <p class="card-text small mb-0" style="line-height: 1.2;">
                          This is a wider card with supporting text below as a natural lead-in
                          to additional content.
                        </p>
                        <p class="card-text small mb-0" style="line-height: 1.2;">
                          <i class="fas fa-link fa-xs pe-1"></i>example.pl
                        </p>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div>
                 <img [src]="post.image"  *ngIf="post.image.length"  class="text-center"
                class="img-fluid rounded mb-3" alt = "null"/>
                </div>

                <!-- <div *ngIf="post.video.length">
                <div class="ratio ratio-16x9 mb-3" >
                  <iframe [src]="post.video" 
                    allowfullscreen></iframe>
                </div>
                </div> -->

                <ul class="list-unstyled d-flex justify-content-between mb-0 pe-xl-5">
                  <li>
                    <i class="far fa-comment"></i>
                  </li>
                  <li><i class="fas fa-retweet"></i><span class="small ps-2">{{post.numberOfComments}}</span></li>
                  <li><i class="far fa-heart"></i><span class="small ps-2">{{post.numberOfLikes}}</span></li>
                  <li>
                    <i class="far fa-share-square"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
