 <!-- Main Body Starts -->
 <div class="body__main">
    <!-- Sidebar Starts -->
    <div class="sidebar">
      <div class="sidebar__top">
        <img src="https://images.unsplash.com/photo-1579546929518-9e396f3cc809?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxMjA3fDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080" alt="" />
        <i class="material-icons sidebar__topAvatar"> account_circle </i>
        <h2>mohammed ahmad</h2>
        <h4>mohammedahmad@gmail.com</h4>
      </div>

      <div class="sidebar__stats">
        <div class="sidebar__stat">
          <p>followers</p>
          <p class="sidebar__statNumber">2,453</p>
        </div>
        <div class="sidebar__stat">
          <p>following</p>
          <p class="sidebar__statNumber">2,650</p>
        </div>
      </div>

      <div class="sidebar__bottom">
        <p>Recent</p>
        <div class="sidebar__recentItem">
          <span class="sidebar__hash">#</span>
          <p>reactjs</p>
        </div>
        <div class="sidebar__recentItem">
          <span class="sidebar__hash">#</span>
          <p>programming</p>
        </div>
        <div class="sidebar__recentItem">
          <span class="sidebar__hash">#</span>
          <p>softwareengineering</p>
        </div>
        <div class="sidebar__recentItem">
          <span class="sidebar__hash">#</span>
          <p>design</p>
        </div>
        <div class="sidebar__recentItem">
          <span class="sidebar__hash">#</span>
          <p>developer</p>
        </div>
      </div>
    </div>
    <!-- Sidebar Ends -->
    
<te-post-list></te-post-list>

 <!-- Widgets Starts -->
 <div class="widgets">
    <div class="widgets__header">
      <h2>Notifications</h2>
      <i class="material-icons"> info </i>
    </div>
    <div class="widgets__article">
      <div class="widgets__articleLeft">
        <i class="material-icons"> fiber_manual_record </i>
      </div>
      <div class="widgets__articleRight">
        <h4>Ahmed interacted with your post</h4>
        <p>5 hours ago</p>
      </div>
    </div>

    <div class="widgets__article">
      <div class="widgets__articleLeft">
        <i class="material-icons"> fiber_manual_record </i>
      </div>
      <div class="widgets__articleRight">
        <h4>Ibrahim commented on your post</h4>
        <p>7 hours ago</p>
      </div>
    </div>

    <div class="widgets__article">
      <div class="widgets__articleLeft">
        <i class="material-icons"> fiber_manual_record </i>
      </div>
      <div class="widgets__articleRight">
        <h4>Samer invited you to join the group</h4>
        <p>2 days ago</p>
      </div>
    </div>
    <div class="widgets__article">
        <div class="widgets__articleLeft">
          <i class="material-icons"> fiber_manual_record </i>
        </div>
        <div class="widgets__articleRight">
          <h4>Ibrahim  invited you to join the group</h4>
          <p>3 days ago</p>
        </div>
      </div>
      <div class="widgets__article">
        <div class="widgets__articleLeft">
          <i class="material-icons"> fiber_manual_record </i>
        </div>
        <div class="widgets__articleRight">
          <h4>mohammed invited you to join the group</h4>
          <p>4 days ago</p>
        </div>
      </div>
      
  </div>

  <!-- Widgets Ends -->